<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoPayCardPayment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoPayCardPayment.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GoPayCardPayment</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CreatePayment" asp-action="CreatePaymentView">Vyvolat platbu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Notification" asp-action="PaymentListingView">Zobrazit seznam notifikací</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Refundation" asp-action="RefundationView">Provést refundaci</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="@ViewData["containerClass"]">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - GoPayCardPayment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- // NGROK část -->
    <!--Přesměrování z lokální URL na (Ngrok) dynamickou-->
    <script>
        async function redirectToNgrok() {
            try {
                let response = await fetch("/get-ngrok-url");
                let data = await response.json();
                let ngrokUrl = data.url;
                
                if (ngrokUrl && ngrokUrl.startsWith("http") && !window.location.href.includes(ngrokUrl)) {
                    if (window.location.hostname === "localhost") {
                        window.location.href = ngrokUrl;
                    }
                }
                
            } catch (error) {
                console.error("Chyba při získávání Ngrok URL:", error);
            }
        }
    
        // Vyvolá metodu redirectToNgrok, poté, co se načte celá stránky
        window.onload = function () {
            if (@(GlobalVariables.usingNGROK.ToString().ToLower())) {
                redirectToNgrok();
            }
        };
    </script>

    <script src="https://gw.sandbox.gopay.com/js/pay.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
